# Miscellaneous
scratch/
*_logs.txt
functions_alamo/old_alamo_dtm.json
functions_alamo/*_test*

# Export Products
test/**/*_test*
test/**/*.csv*
temp/*.csv*

# Database
downloaded_data.db
rental_data.db
test_data.db

# Cache
.DS_Store
.pytest_cache

# Python bytecode files
__pycache__

# Virtual Environment
venv/